html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;

  .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 30px;
    height: 30px;
    transform: translate(-15px, -15px);
    color: #fff;
  }

  .details-footer {
    display: flex;
    flex-wrap: wrap;
    min-height: 86px;
    padding: 15px 15px 30px 15px;
    opacity: 0;
    visibility: hidden;

    .username {
      display: flex;
      align-content: center;
      justify-content: center;
      margin-right: auto;

      .value {
        display: flex;
        align-items: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }

    .numbers {
      display: flex;
      flex-direction: column;
      margin-left: auto;

      .comments,
      .likes {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .icon {
          width: 16px;
          height: auto;
          margin-right: 5px;
          color: #fff;
        }

        .value {
          padding-top: 3px;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
        }
      }

      .likes {
        margin-bottom: 7px;
      }
    }
  }
}

.details:hover {
  background: rgba(0, 0, 0, .6);

  .plus {
    display: block;
  }

  .details-footer {
    opacity: 1;
    visibility: visible;
  }
}