body {
  /*overflow: hidden;*/
}

.overlay-player {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;

  padding: 50px 50px 80px 50px;

  background: #000;

  z-index: 4;

  .player-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .player-previous {
    position: absolute;
    top: calc(50% + 60px - 80px);
    left: 10px;
    transform: translateY(-15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .player-next {
    position: absolute;
    top: calc(50% + 60px - 80px);
    right: 10px;
    transform: translateY(-15px);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .player-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .instagram-img,
    .instagram-video {
      display: block;
      width: 100%;
      max-width: 640px;
      height: auto;
    }

    .youtube-wrapper {
      width: 100%;
      max-width: 640px;

      .youtube-container {
        position: relative;
        width: 100%;
        padding-top: 56.25%;

        .youtube-video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .player-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }

  .player-icon {
    width: 30px;
    height: 30px;
    color: #fff;
    opacity: .5;
    transition: opacity .2s ease-in-out;
  }

  .player-close:hover,
  .player-previous:hover,
  .player-next:hover {
    .player-icon {
      opacity: 1;
    }
  }

}