<div class="youtube">
    <div class="content">
        <div class="videos">
            <div v-for="video in videos" class="video">
                <a :href="video.videoUrl" target="_blank">
                    <!--<img :src="video.img.url" alt="">-->
                    <iframe :src=video.videoFrame frameborder="0" width="100%" height="260px" v-on:mouseover="autoPlay" v-on:mouseleave="autoPause"></iframe>
                </a>
            </div>
        </div>
    </div>
    <div v-if="hasNextPage" class="footer">
        <button @click="fetchYouTubeVideos"
                class="button">Upload more
        </button>
    </div>
</div>