<div class="instagram">
    <div class="content">
        <div class="videos">
            <div v-for="video in videos" class="video">
                <a :href="video.videoUrl" target="_blank">
                    <img :src="video.img.url" alt="">
                </a>
            </div>
        </div>
    </div>
    <div v-if="hasNextPage" class="footer">
        <button @click="fetchInstagramVideos"
                class="button">Upload more
        </button>
    </div>
</div>