<template>
    <header>
        <div class="navigate">
            <icon name="arrow-left" class="headerIcon"></icon>
            <icon name="repeat" class="headerIcon"></icon>
        </div>
        <div class="actions">
            <icon name="home" class="headerIcon"></icon>
            <icon name="search" class="headerIcon"></icon>
            <icon name="map-marker" class="headerIcon"></icon>
        </div>
        <div></div>
    </header>
</template>

<script>
    export default {
        name: 'mainHeader'
    }
</script>

<style lang="scss">

    header {
        --header-height: 60px;
        --header-icon-width: 30px;
        --header-icon-height: 30px;
        display: grid;
        grid-template-columns: auto auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height);
        padding: calc((var(--header-height) - var(--header-icon-height)) / 2);
        background-color: #8e8e8e;
        z-index: 3;
    }

    header .headerIcon {
        width: var(--header-icon-width);
        height: var(--header-icon-height);
        margin-right: 1rem;
        color: #1e1e1e;
        cursor: pointer;
    }

</style>
