<div v-if="show"
     class="overlay-player">
    <div @click="closeOverlayPlayer"
         class="player-close">
        <icon name="times" class="player-icon"></icon>
    </div>
    <div v-if="havePrevious"
         @click="goToPrevious"
         class="player-previous">
        <icon name="arrow-left" class="player-icon"></icon>
    </div>
    <div v-if="haveNext"
         @click="goToNext"
         class="player-next">
        <icon name="arrow-right" class="player-icon"></icon>
    </div>
    <div class="player-content">
        <img v-if="data.itemType === 'instagram_image'"
             class="instagram-img"
             :src="data.element"
             alt="">

        <video v-if="data.itemType === 'instagram_video'"
               class="instagram-video"
               name="media"
               controls
               autoplay>
            <source :src="data.element"
                    type="video/mp4">
        </video>

        <div v-if="data.itemType === 'youtube_video'"
             class="youtube-wrapper">
            <div class="youtube-container">
                <iframe class="youtube-video"
                        allowfullscreen
                        :src="`https://www.youtube.com/embed/${data.data.videoId}?showinfo=0&autoplay=1`">
                </iframe>
            </div>
        </div>
    </div>
    <div v-if="data.itemType == 'youtube_video'"
         class="player-footer">
        {{data.data.channelTitle}}
    </div>
    <div v-else
         class="player-footer">
        {{data.data.username}}
    </div>
</div>