<template>
    <div class="all-news">
        <overlay-player></overlay-player>
        <masonry :cols="{default: 5, 1200: 3, 768: 2, 480: 1}"
                 :gutter="{default: '0px'}">

            <newsItem
                    v-for="(newsItem, index) in newsList"
                    :index="index"
                    :entity="newsItem"
                    :key="index">
            </newsItem>

            <infinite-loading @infinite="getNews" ref="infiniteLoading">
                <span slot="no-more"></span>
            </infinite-loading>

        </masonry>
    </div>
</template>

<script>

    import Vue from 'vue'
    import VueMasonry from 'vue-masonry-css'

    Vue.use(VueMasonry);

    import InfiniteLoading from "vue-infinite-loading"
    import newsItem from './newsItem.vue'
    import OverlayPlayer from '../overlay-player/overlay-player.vue'

    export default {
        name: 'allNews',
        components: {
            InfiniteLoading,
            newsItem,
            OverlayPlayer
        },
        computed: {
            newsList() {
                return this.$store.getters.newsList
            },
            youtubeNT() {
                return this.$store.getters.getYoutubeNT
            },
            instagramNT() {
                return this.$store.getters.getInstagramNT
            }
        },
        data() {
            return {
                page: 1,
                newsArray: [],
            }
        },
        methods: {
            getNews($state) {

                this.$store.dispatch('fetchNews', {
                    state: $state,
                    youtubeNT: this.youtubeNT,
                    instagramNT: this.instagramNT,
                });

            },
            addToNews($state) {
                let options = {
                    params: {page: this.page}
                }
            },
        },
    }

</script>
