<template>
    <div @click="showOverlayPlayer"
         class="newsItem">

        <img v-if="entity.itemType == 'instagram_image'"
             :id="'index-' + index"
             :src="entity.element"
             class="img-fluid"
             alt="">

        <video v-if="entity.itemType == 'instagram_video'"
               :id="'index-' + index"
               width="100%"
               height="100%"
               loop
               name="media">
            <source v-if="entity.element"
                    :src="entity.element"
                    type="video/mp4">
        </video>

        <icon v-if="entity.itemType == 'instagram_video'"
              name="play"
              scale="2"
              class="videoIcon">
        </icon>

        <iframe v-if="entity.itemType == 'youtube_video'"
                :id="'index-' + index"
                :src="entity.element"
                width="100%"
                height="300px">
        </iframe>

        <div v-if="entity.itemType == 'youtube_video'"
             @mouseover="play"
             @mouseleave="pause"
             class="details">
            <div class="details-footer">
                <div class="username">
                    <div class="value">
                        {{entity.data.channelTitle}}
                    </div>
                </div>
            </div>
        </div>
        <div v-else
             @mouseover="play"
             @mouseleave="pause"
             class="details">
            <div class="details-footer">
                <div class="username">
                    <div class="value">
                        {{entity.data.username}}
                    </div>
                </div>
                <div class="numbers">
                    <div class="likes">
                        <icon name="heart" class="icon"></icon>
                        <div class="value">
                            {{entity.data.likes}}
                        </div>
                    </div>
                    <div class="comments">
                        <icon name="comment" class="icon"></icon>
                        <div class="value">
                            {{entity.data.comments}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'newsItem',
        props: ['index', 'entity'],
        created: function () {
        },
        methods: {
            play(e) {
                let id = `index-${this.index}`;
                let element = document.getElementById(id);

                if (this.entity.itemType === 'youtube_video') {
                    if (e.path[0].classList[0] === 'details') {
                        if (element.src.search('&autoplay=1') === -1) {
                            element.src = element.src + '&autoplay=1';
                        }
                    }
                }

                if (this.entity.itemType === 'instagram_video') {
                    if (element.readyState === 4) {
                        element.play();
                    }
                }
            },
            pause() {
                let id = `index-${this.index}`;
                let element = document.getElementById(id);

                if (this.entity.itemType === 'youtube_video') {
                    element.src = element.src.replace('&autoplay=1', '');
                }

                if (this.entity.itemType === 'instagram_video') {
                    if (element.readyState === 4) {
                        element.pause();
                    }
                }
            },
            showOverlayPlayer() {
                document.getElementsByTagName('body')[0].style.overflow = 'hidden';

                this.$store.commit('changeOverlayPlayer', {
                    currentIndex: this.index,
                    currentEntity: this.entity
                });
            }
        }
    }
</script>

<style lang="scss">

    .img-fluid {
        display: block;
        width: 100%;
        height: auto;
    }

    video,
    iframe {
        display: block;
    }

    .newsItem {
        position: relative;
    }

    .videoIcon {
        position: absolute;
        color: #fff;
        top: calc((100% - 50px) / 2);
        left: calc((100% - 50px) / 2);
        width: 50px;
        height: 50px;
        z-index: 2;
    }

    .newsItem:hover .videoIcon {
        display: none;
    }
</style>
