<template>
  <div id="app">
    <mainHeader></mainHeader>
    <router-view></router-view>
  </div>
</template>

<script>

  import mainHeader from './components/mainHeader/mainHeader.vue'

  export default {
    name: 'app',
    components: {mainHeader},
  }

</script>

<style lang="scss">
  @import 'assets/scss/app.scss';

  #app {
    padding-top: 60px;
  }
</style>
